@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  background-image: url('.assets/backgrounds/snow.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
@font-face {
  font-family: "Feather";
  src: url("./assets/Feather Bold.ttf");
}
#root {
  margin: 0 auto;
}

