.search-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .search-box input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .search-box button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .search-box button i {
    font-size: 1.2em;
  }
  